# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GithubProject\Weibo_Network\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
